__pycache__
.idea
.DS_Store
ace2005_processing
run.sh
runs/
*.pyc

# Ignore everything under data fold except README and splits
data/*
!data/README.md
!data/splits
# Ignore everything under .vector_cache except README
.vector_cache/*
!.vector_cache/README.md



